﻿@model IEnumerable<GA.Portal.Areas.Basico.ViewModels.Animal.AnimalIndexViewModel>

@{
    ViewBag.Title = "Listagem de animais";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Listagem de animais
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <button type="button" class="btn btn-success" href="#article-editor"data-toggle="modal" data-target="#uploadModal">Importar CSV</button> &nbsp;&nbsp;
                    <button type="button" class="btn btn-success" href="#article-editor"data-toggle="modal" data-target="#ExportCsv">
                        Exportar para CSV
                    </button>
                    <p />
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Sisbov)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Raca)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DtEntrada)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PesoEntrada)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DtUltimoPeso)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UltimoPeso)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Comunicado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ValorCabeca)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sisbov)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Raca)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DtEntrada)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PesoEntrada)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DtUltimoPeso)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UltimoPeso)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Comunicado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ValorCabeca)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->

        </div>
        <!-- /.panel-body -->
        <div id='myModal' class='modal'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id='myModalContent'></div>
                </div>
            </div>

        </div>

    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Arquivos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Upload", "Animais", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <div class="form-group">
                        <h2>Selecionar o Arquivo</h2>
                        <input type="file" id="dataFile" name="upload" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Upload" class="btn btn-default" />
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
