﻿@{
    ViewBag.Title = "Gestão Agropecuária";
}

<div class="row">
    <div class="col-md-4">
        <h2>Acesse o link abaixo para validar o teste</h2>
      
            @*<span class="btn-default">@Html.ActionLink("Gestão Agropecuária", "Index", "Basico/Animal/Animais")</span>*@
            @Html.ActionLink("Teste", "Index", "Basico/Animal/Animais", "Animal_default", new { @class = "navbar-brand" })
      
    </div>
</div>