﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<div id="footer">
    <div class="container">
        
        <div class="row">
            <p>&copy; @DateTime.Now.Year </center></p>
            <p>Desenvolvedor Émerson Schulze </center></p>
        </div>
    </div>
</div>
</html>
